body {
	background-color: rgb(100, 30, 30);
}
.container {
	background-color: white;
	width: 30%;
	margin-top: 10%;
	box-shadow: 0 3px 20px rgba(0,0,0,0.4);
	padding: 40px;
	border-radius: 10px;
}
 
button {
	width: 48%;
}
